# Optional: Multiple accounts (format: username1:password1,username2:password2)
INSTAGRAM_ACCOUNTS=compte1@gmail.com:password1,compte2@gmail.com:password2
DEBUG=true
FIREBASE_PROJECT_ID=ton-projet-id
FIREBASE_CLIENT_EMAIL=ton-email@projet-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTA_CLE_PRIVEE\n-----END PRIVATE KEY-----\n"
